.model{
	padding: 10px 0;
	width: 85%;
	margin: 1rem auto;
	height: 400px;
	z-index: 999;
	position: fixed;
	top: 0;
	
}

.nav-model{
	list-style: none;
	display: flex;
	border-radius: 20px;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	cursor: pointer;
	width: 100%;
	text-align: center;
	background-color: #fff;
	color: grey;

}

.location-heading{
	padding: 0;
	font-size: 0.7rem;
	font-weight: 500;
	text-transform: uppercase;
	color: #000;
}

.location-text{
	display: flex;
	align-items: flex-start;
	flex-direction: column;
}
.nav-list-model{
	flex: 1;
	border-right: 1px solid #F3F3F2;
	padding: 12px 16px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	background-color: #fff;
	border: 1px solid transparent;
	border-right: 1px solid #F3F3F2;
}

.nav-active{
	border-radius: 20px;
	border-color: black;
	background-color: #fff;
}

.nav-list-model:last-child{
	display: flex;
	padding: 5px 10px;
	justify-content: center;
	align-items: center;
}


.nav-list-model .btn{
	width: 140px;
	border-radius: 20px;
	background-color: #EA5756;
	height: 100%;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	cursor: pointer;
}

.nav-list-model:last-child .fa-search{
	
	color: #fff;
	
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 10px;
}

.selectLocation{
	position: absolute;
	background-color: #fff;
	  border: none;
	  padding: 0 1em 0 0;
	  margin: 0;
	  width: 100%;
	  margin-top: 1rem;
	  
	  border-radius: 10px;
	  cursor: inherit;
  line-height: inherit;
  outline: none;
}

.selectSwitch{
	position: absolute;
	background-color: #fff;
	  border: none;
	  padding: 0 1em 0 0;
	  margin: 0;
	  width: 100%;
	  margin-top: 1rem;
	  
	  
	  border-radius: 10px;
	  cursor: inherit;
  line-height: inherit;
  outline: none;
}

.options{
	list-style: none;
	font-size: 1rem;
	padding: 1rem;
	margin: 1rem 0;
	
	cursor: pointer;
}

.options:hover{
	color: #EA5756;
	transition: color 0.2s ease-in;
}

.fa-map-marker-alt{
	margin-right: 10px;
	color: grey;
}

.btn{
  	width: 100%;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  }

  .nav-list-model:last-child {
	border-right: none;
	
  }

@media only screen and (max-width: 600px) {
  .model{

  	position: absolute;
  	top: 0;

  }

  .nav-model{
  	margin: 2.3rem 0;
  	border-radius: 10px;
  	display: flex;
  	align-items: center;
  	justify-content: flex-start;
  }

  .location-text{
  	display: flex;
		align-items: flex-start;
		justify-content: center;
  }

  .nav-list-model{
  	/*flex: 1;*/
  }

  .nav-list-model:first-child{
  	flex: 2;
  	border-radius: 10px;
  }

  .nav-list-model:last-child {
  	height: 100%;
  	flex-wrap: wrap;
  	margin: 0;
  	/*padding: 1rem;*/
		border-right: none;
		align-items: flex-start;
		width: 50px;
  }
  
  .nav-list-model .btn{
  	
  	width: inherit;
  	padding: 1rem;
  	color: #EA5756;
  	background-color: #fff;
	
	border: none;
	align-items: center;
	justify-content: center;
	
	cursor: pointer;
  }

  .nav-list-model .btn .fa-search{
  	font-size: 1.2rem;
  	color: #EA5756;
  }
   .nav-list-model:last-child .btn span{
	
		display: none;
  }
  
}
